schema/2.2/fsp-spinjs.xsd

<xs:schema xmlns:fsp="http://www.fujion.org/schema/fsp" elementFormDefault="qualified" targetNamespace="http://www.fujion.org/schema/fsp" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation>Fujion Server Page, spin.js Extension, version 2.2</xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="./fsp-root.xsd"/>
    <xs:element name="spinjs" substitutionGroup="fsp:anyParent">
        <xs:annotation>
            <xs:documentation>Spin-js component.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="balloon" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The balloon text to be displayed adjacent to the component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="case" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Specifies the value for matching a switch statement.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="class" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Space-delimited list of CSS classes.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="true" name="clockwise" type="fsp:boolean">
                <xs:annotation>
                    <xs:documentation>If true, the rotation is clockwise.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="context" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The popup component that will appear when right-clicking on this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="controller" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Controller to be wired to this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="1" name="corners" type="fsp:decimal">
                <xs:annotation>
                    <xs:documentation>The corner roundness.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="css" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The CSS specifier for this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="data" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Data object to associate with this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="disabled" type="fsp:boolean">
                <xs:annotation>
                    <xs:documentation>True if the component is disabled.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="dragid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A space-delimited list of drag id's associated with this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="dropid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A space-delimited list of drop id's associated with this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="transparent" name="fadecolor" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The color(s) for the fade effect.  Separate multiple colors with commas.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="flex" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The component's flex style setting.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="focus" type="fsp:boolean">
                <xs:annotation>
                    <xs:documentation>Sets or removes focus for this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="foreach" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Specifies a collection for iterative component creation.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="each" name="forvar" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Specifies the attribute name used in foreach.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="forward" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Sets one or more event forwarding directives.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="height" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The component's height.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="hint" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The popup text to be displayed when hovering over this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="if" type="fsp:boolean">
                <xs:annotation>
                    <xs:documentation>If false, prevent component creation.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="impl" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Component implementation class to substitute.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="keycapture" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The list of key codes to be captured.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="50%" name="left" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The left position relative to parent.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="#000" name="linecolor" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The line color(s).  Separate multiple colors with commas.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="7" name="linelength" type="fsp:integer">
                <xs:annotation>
                    <xs:documentation>The length of each line.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="12" name="lines" type="fsp:integer">
                <xs:annotation>
                    <xs:documentation>The number of lines to draw.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="5" name="linewidth" type="fsp:integer">
                <xs:annotation>
                    <xs:documentation>The width of each line.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The name associated with this component instance (must be unique within the enclosing namespace).</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="namespace" type="fsp:boolean">
                <xs:annotation>
                    <xs:documentation>When true, this component acts as a namespace boundary.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="0.25" name="opacity" type="fsp:decimal">
                <xs:annotation>
                    <xs:documentation>The opacity of the lines.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="popup" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The popup component that will appear when hovering over this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="10" name="radius" type="fsp:integer">
                <xs:annotation>
                    <xs:documentation>The radius of the inner circle.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="0" name="rotate" type="fsp:integer">
                <xs:annotation>
                    <xs:documentation>The rotation offset.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="1" name="scale" type="fsp:decimal">
                <xs:annotation>
                    <xs:documentation>The overall size of the spinner.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="none" name="shadow" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The box-shadow for the lines.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="1" name="speed" type="fsp:integer">
                <xs:annotation>
                    <xs:documentation>Rounds per second.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="start" type="fsp:boolean">
                <xs:annotation>
                    <xs:documentation>Starts or stops the animation.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="style" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The active CSS styles for this component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="switch" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Specifies the value for a switch statement.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="0" name="tabindex" type="fsp:integer">
                <xs:annotation>
                    <xs:documentation>The tab index for the component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="50%" name="top" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The top position relative to parent.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="100" name="trail" type="fsp:integer">
                <xs:annotation>
                    <xs:documentation>The after-glow percentage.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="unless" type="fsp:boolean">
                <xs:annotation>
                    <xs:documentation>If true, prevent component creation.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute default="true" name="visible" type="fsp:boolean">
                <xs:annotation>
                    <xs:documentation>The visibility state of the component.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="width" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The component's width.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
